@charset "UTF-8";
footer{
    background-color: #efefef;
    height:100px;
    line-height: 30px;
    border:1px solid lightgray;
    border-radius: 5px;
    padding:10px 20px;
    font-size:0.8em;
    text-align: center;
}

table {
	margin: 20px;
	width: 90%;
	height: 500px;
	border-collapse: separate;
	border-spacing: 20px;
}

td {
	border: 2px solid lightgray;
	border-radius: 10px;
}

#imgSec {
	position: relative;
	text-align: center;
}

img {
	background-color: #efefef;
	width: 100%;
}

#prev {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-left: 10px;
	background-color: #FFCD4A;
	color: white;
	border: none;
}

#next {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-right: 10px;
	background-color: #FFCD4A;
	color: white;
	border: none;
}

#infoSec {
	padding: 10px;
}

#nickname {
	font-size: 25px;
	font-weight: bold;
}

.like {
	background-color: white;
	border-color: white;
	font-size: 30px;
	float: right;
	cursor: pointer;
}

#intro_title {
	font-size: 30px;
	font-weight: bolder;
}

.star {
	float: right;
	margin: 2px;
	margin-top: -5px;
}

#address {
	font-size: 25px;
	font-weight: bold;
}

#introSec{
	padding:20px;
}

#feeSec {
	text-align: center;
}

#fee {
	font-size: 20px;
	font-weight: bold;
}

#question {
	background-color: gray;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
}

#chatSec {
	padding: 20px;
}

#chat {
	background-color: #8EDBA3;
	border: none;
	color: white;
	font-size: 25px;
	font-weight: bold;
	border-radius: 7px;
	padding: 10px;
	float: right;
}

#locationSec {
	padding: 20px;
}